[net]
name = NAME
fc1_feature = 256
kernel_list = [2,4,8,12]
hidden_size = 300
filters = 75

[data]
dataset = NAME
type_of_label = law,accu,time
batch_size = 128
vec_size = 200
sentence_num = 100
sentence_len = 15
graph_threshold = 0.35

[train]
epoch = 64
learning_rate = 1e-3
weight_decay = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0.5
train_num_process = 1
test_num_process = 1


[output]
output_time = 128
model_path = model_save/
test_path = test_result
model_name = NAME
test_time = 1

[num_class_small]
law_num = 103
accu_num = 119
time_num = 11

[num_class_large]
law_num = 118
accu_num = 130
time_num = 11
